[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pytest = "*"
assertpy = "*"
lxml = "*"
jsonpath-ng = "*"
cerberus = "*"
reportportal-client = "*"
pytest-reportportal = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}

[requires]
python_version = "3.8"
